.header {
  background-color: #a3c3f1;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 25px;
  align-items: center;
  height: 10vh;
}

.header a {
  text-decoration: none;
  color: black;
  background-color: aqua;
  padding: 2px 5px;
  border-radius: 5px;
  transition: 0.5s all;
}

.header a:hover {
  transform: scale(1.2);
}

.header h2 {
  font-size: 50px;
  font-weight: bolder;
}

/* Cleaning css */
.guidelines_cleaning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.guidelines_cleaning h3 {
  font-size: 45px;
  font-weight: 800;
  padding-bottom: 1rem;
}

.guidelines_cleaning ul {
    list-style: none;
    text-align: center;
    font-weight: 500;
}

.guidelines_cleaning ul li {
    padding-bottom: 0.5em;
}

.guidelines_cleaning ul li:last-child {
    padding-bottom: 2rem;
}

.Cleaning form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    gap: 1.5rem;
    
}

.Cleaning form label {
    font-weight: 400;
}


.Cleaning form input, select, textarea {
    width: 40vw;
    height: 2.5rem;
    border-radius: 10px;
    outline: none;
    margin-top: 0.5rem;
}

.Cleaning form input[type=datetime-local] {
    width: 15vw;
    display: flex;
    padding: 5px 10px;
}

.Cleaning form input[type=radio] {
    width: 20px;
    display: none;
}

.Cleaning form input[type=checkbox] {
    width: 20px;
}

.Cleaning div .radio label {
    background-color: aqua;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px 10px;
    cursor: pointer;
}

.Cleaning div .radio {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Cleaning .checkboxitem {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.Cleaning input[type=submit] {
  position: relative;
  width: 60%;
  height: 50px;
  right: 5rem;
  margin-bottom: 50px;
}

.medical .time_table{
  width: 70vw;
  margin: auto;
}

.medical .note {
  width: 60vw;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 18px;
}

.medical form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  padding-top: 2rem;
}

.medical label {
  font-size: 20px;

}

.medical input {
  height: 2rem;
  border-radius: 10px;
  width: 45vw;
  margin: 10px 15px;
}

.medical select{
  background-color: white;
  border: 2px solid black;
  width: 35vw;
  margin: 15px 10px;
  margin-left: 15px;
}

.medical input[type=radio] {
  display: none;
}

.medical .radiobtn {
  display: flex;
  flex-direction: column;
}

.medical .radiobtn label {
  background-color: aqua;
  width: fit-content;
  padding: 10px 20px;
  margin: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.medical input[type=datetime-local] {
  height: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.medical input[type=submit] {
  width: 20vw;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  height: 2.5rem;
  font-size: 30px;
  font-weight: 500;
}

.clearance form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  margin-top: 2rem;
  font-size: 20px;
}

.clearance input {
  width: 45vw;
  height: 2rem;
  border-radius: 10px;
  margin: 10px 15px;
}

.clearance input[type=date] {
  height: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.clearance textarea {
  margin: 10px 15px;
  height: 10rem;
}

.clearance input[type=submit] {
  width: 20vw;
  margin: auto;
  height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}